wifi_ssid: "your-wifi-ssid"
wifi_password: "your-wifi-password"
wifi_fallback_password: "password-for-fallback-hotspot"

ha_api_password: "home-assistant-api-password"

ota_password: "password-for-ota"

air_raid_alert_api_token: "your-api-token"
